body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightpink;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    background-color: #d9f8d621;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #857ac9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #status {
    font-size: 1.5em;
    font-weight: bold;
  }
  